@import altitude.core.Api
@import altitude.core.RequestContext

@(fieldErrors: Map[String, String] = Map.empty, formJson: ujson.Obj = ujson.Obj(), parentId: String, minWidth: Int, title: String)

<style>
    #addFolder input {
        width: 100%;
    }
</style>

<form action="#"
      id="addFolder"
      data-app-fragment="modal"
      data-app-modal-title="@{title}"
      data-app-modal-min-width="@{minWidth}"
      data-app-modal-autofocus-selector="#field@{ Api.Field.Folder.NAME }"
      data-app-modal-close-on-success="true"
      data-app-modal-success-event="folderAdded"
      data-app-modal-success-detail='{"@{ Api.Field.Folder.PARENT_ID }":"@{ parentId }"}'
      alt-folder-id="@{parentId}"
      hx-swap="innerHTML"
      hx-post="/htmx/folder/r/@{RequestContext.getRepository.persistedId}/add"
      hx-target="#children-@{parentId}"
      hx-trigger="submit"
      hx-ext="json-enc">

    @if(fieldErrors.contains(Api.Field.Folder.NAME)) {
        <div class="error">@{ fieldErrors(Api.Field.Folder.NAME) }</div>
    }

    <div>
        <label for="@{ Api.Field.Folder.NAME }"></label>
        <input type="text"
               id="field@{ Api.Field.Folder.NAME }"
            @if(fieldErrors.contains(Api.Field.Folder.NAME)) {
               class="error"
            }
               name="@{ Api.Field.Folder.NAME }"
               autocomplete="off"
               value='@{ formJson.obj.get(Api.Field.Folder.NAME).flatMap(_.strOpt).getOrElse("") }'
               placeholder="New folder name"
               maxlength="@{ Api.Constraints.MAX_FOLDER_NAME_LENGTH }"
               minlength="@{ Api.Constraints.MIN_FOLDER_NAME_LENGTH }">

        <input type="hidden" name="@{ Api.Field.Folder.PARENT_ID }" value="@{ parentId }">
    </div>
</form>

