@import altitude.core.RequestContext
@import altitude.core.models.Folder
@import altitude.core.Api
@import altitude.core.Const

@(folders: List[Folder], rootFolderId: String = RequestContext.getRepository.rootFolderId)

@for(idx <- folders.indices) {

@defining(folders(idx)) { folder =>
<div class="folder"
     id="folder-@{folder.persistedId}"
     alt-num-of-children="@{folder.numOfChildren}"
     alt-parent-folder-id="@{folder.parentId}"
     alt-folder-id="@{folder.persistedId}">

    <div class="controls drag-drop dropzone"
         alt-folder-id="@{folder.persistedId}">

        <a href="#" hx-swap="innerHTML"
           id="expand-folder-children-@{folder.persistedId}"
           alt-folder-id="@{folder.persistedId}"
           hx-get="/htmx/folder/r/@{RequestContext.getRepository.persistedId}/children"
           hx-target="#children-@{folder.persistedId}"
           hx-vals='{"parentId": "@{folder.persistedId}"}'>

            <i id="folder-icon-@{folder.persistedId}"
              @if(folder.numOfChildren > 0) {
                class="fas fa-folder-plus"
              } else {
              class="fas fa-folder"
              }></i>
        </a>

        <div class="menu-ctrl">
            <ot-dropdown>
                <button slot="trigger" data-variant="ghost" aria-label="Folder options">&#10247;</button>
                <menu>
                    <li>
                        <button hx-get="/htmx/folder/r/@{RequestContext.getRepository.persistedId}/modals/add-folder"
                                hx-target="#modalContent"
                                hx-vals='{"@{Api.Modal.MIN_WIDTH}": @{Const.UI.ADD_FOLDER_MODAL_MIN_WIDTH}, "parentId": "@{folder.persistedId}"}'
                                hx-trigger="click">Add folder</button>
                    </li>
                    @if(folder.persistedId != rootFolderId) {
                    <li>
                        <button hx-get="/htmx/folder/r/@{RequestContext.getRepository.persistedId}/modals/rename-folder"
                                hx-target="#modalContent"
                                hx-vals='{"@{Api.Modal.MIN_WIDTH}": @{Const.UI.RENAME_FOLDER_MODAL_MIN_WIDTH}, "id": "@{folder.persistedId}"}'
                                hx-trigger="click">Rename</button>
                    </li>
                    <li>
                        <button data-variant="error"
                                hx-get="/htmx/folder/r/@{RequestContext.getRepository.persistedId}/modals/delete-folder"
                                hx-target="#modalContent"
                                hx-vals='{"@{Api.Modal.MIN_WIDTH}": @{Const.UI.DELETE_FOLDER_MODAL_MIN_WIDTH}, "id": "@{folder.persistedId}"}'
                                hx-trigger="click">Delete</button>
                    </li>
                    }
                </menu>
            </ot-dropdown>
        </div>
        <span id="folderName-@{folder.persistedId}"
              class="folder-name"
              x-data
              :class="{ 'disabled': $store.currentView.isTriageView() || $store.currentView.isTrashBinView() }"
              hx-target="#content"
              hx-trigger="click"
              hx-swap="innerHTML"
              x-on:click="if ($store.currentView.isTriageView()) { $event.stopPropagation(); $event.preventDefault(); return false; }"
              hx-get="/htmx/search/r/@{RequestContext.getRepository.persistedId}?@{Api.Field.Search.FOLDER_ID}=@{folder.persistedId}&@{Api.Field.Search.IS_NEW_SEARCH}=true">
        @{folder.name}</span>
    </div>

    <div class="children"
         id="children-@{folder.persistedId}"
         alt-folder-id="@{folder.persistedId}"></div>
</div>
}}
