@import altitude.core.RequestContext

@(folderId: String, rootFolderId: String = RequestContext.getRepository.rootFolderId)

<span hx-get="/htmx/folder/r/@{RequestContext.getRepository.persistedId}/modals/add-folder"
      hx-target="#modalContent"
      hx-vals='{"parentId": "@{folderId}"}'
      hx-trigger="click">
    Add folder
</span>

@if(folderId != rootFolderId) {
    <span hx-get="/htmx/folder/r/@{RequestContext.getRepository.persistedId}/modals/rename-folder"
          hx-target="#modalContent"
          hx-vals='{"id": "@{folderId}"}'
          hx-trigger="click">
        Rename
    </span>
    <span hx-get="/htmx/folder/r/@{RequestContext.getRepository.persistedId}/modals/delete-folder"
      hx-target="#modalContent"
      hx-vals='{"id": "@{folderId}"}'
      hx-trigger="click">
        Delete
    </span>
}

