@import altitude.core.RequestContext
@import altitude.core.Api
@import altitude.core.models.Location

@(location: Location, parents: List[Location], fieldErrors: Map[String, String] = Map.empty, formJson: ujson.Obj = ujson.Obj())

<form id="moveLocation" data-app-fragment="inline-dialog"
      data-app-dialog-autofocus-selector="#field-parentId"
      data-app-dialog-return-focus="#locationMenuCtrl-@{location.persistedId}"
      data-app-success-event="LOCATION_MOVED_EVENT"
      data-app-success-detail='@{ujson.Obj("id" -> location.persistedId)}'
      hx-target="this" hx-swap="none" hx-json-enc
      hx-put="/htmx/location/r/@{RequestContext.getRepository.persistedId}/move">
  <h3 class="dialog-title">Move "@{location.name}" to parent</h3>
  @includes.html.location_parent_select(parents, formJson, fieldErrors)
  <input type="hidden" name="@{Api.Field.ID}" value="@{location.persistedId}">
  <button type="submit" class="action-button">Move</button>
</form>
