@import altitude.core.RequestContext
@import altitude.core.models.Person
@import altitude.core.Const
@import altitude.core.Api

@(people: List[Person], typeFilter: String)

<style>
    #people .cell {
        margin: 3px;
        padding-top: 3px;
        border: var(--result-border);
        border-radius: 5px;
        display: grid;
        width:@{ altitude.core.service.FaceDetectionService.faceDetectionBoxPx + 60 }px;
        height: @{ altitude.core.service.FaceDetectionService.faceDetectionBoxPx + 40 }px;
        place-items: center;
        touch-action: none;
        row-gap: 5px;
    }

    #people .cell img {
        display: block;
        border-radius: 20%;
    }

    #people .grid {
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    #people .name {
        display: grid;
        width: 100%;
        height: 100%;
        place-items: center;
        background-color: var(--background-tertiary-color);
    }

    #people .name span {
        color: var(--font-color-dim);
        font-size: .9em;
    }

    #people .cell a {
        text-decoration: none;
        font-size: .9em;
        color: #FFFFFF;
        font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        letter-spacing: 1px;
    }

    #people .cell a.unknown {
        color: #fdda63;
    }

    #peopleTypeFilter .radio-group {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    #peopleTypeFilter .radio-group label {
        display: flex;
        align-items: center;
    }

    #peopleTypeFilter .radio-group input[type="radio"] {
        margin-right: 5px;
    }

    #peopleTypeFilter {
        padding-top: var(--control-vertical-space);
        padding-bottom: var(--control-vertical-space);
    }
</style>

<div id="peopleTypeFilter">
    <div class="radio-group">
        <label>
            <input type="radio" @if(typeFilter == Const.PeopleTypeFilter.COMPLETE) {checked}
                   name="peopleTypeFilter"
                   value="@{Const.PeopleTypeFilter.COMPLETE}"
                   hx-target="#explorerPanelContent"
                   hx-trigger="change"
                   hx-swap="innerHTML"
                   hx-get="/htmx/people/r/@{RequestContext.getRepository.persistedId}/tab"
                   hx-vals='{"@{Api.Field.People.TYPE_FILTER}": "@{Const.PeopleTypeFilter.COMPLETE}"}'>
            Verified
        </label>
        <label>
            <input type="radio" @if(typeFilter == Const.PeopleTypeFilter.HIDDEN) {checked}
                   name="peopleTypeFilter"
                   value="@{Const.PeopleTypeFilter.HIDDEN}"
                   hx-target="#explorerPanelContent"
                   hx-trigger="change"
                   hx-swap="innerHTML"
                   hx-get="/htmx/people/r/@{RequestContext.getRepository.persistedId}/tab"
                   hx-vals='{"@{Api.Field.People.TYPE_FILTER}": "@{Const.PeopleTypeFilter.HIDDEN}"}'>
            Hidden
        </label>
        <label>
            <input type="radio" @if(typeFilter == Const.PeopleTypeFilter.INCOMPLETE) {checked}
                   name="peopleTypeFilter"
                   value="@{Const.PeopleTypeFilter.INCOMPLETE}"
                   hx-target="#explorerPanelContent"
                   hx-trigger="change"
                   hx-swap="innerHTML"
                   hx-get="/htmx/people/r/@{RequestContext.getRepository.persistedId}/tab"
                   hx-vals='{"@{Api.Field.People.TYPE_FILTER}": "@{Const.PeopleTypeFilter.INCOMPLETE}"}'>
            Unverified
        </label>
        <label>
            <input type="radio" @if(typeFilter == Const.PeopleTypeFilter.ALL) {checked}
                   name="peopleTypeFilter"
                   value="@{Const.PeopleTypeFilter.ALL}"
                   hx-target="#explorerPanelContent"
                   hx-trigger="change"
                   hx-swap="innerHTML"
                   hx-get="/htmx/people/r/@{RequestContext.getRepository.persistedId}/tab"
                   hx-vals='{"@{Api.Field.People.TYPE_FILTER}": "@{Const.PeopleTypeFilter.ALL}"}'>
            All
        </label>
    </div>
</div>

<div id="peopleList">
    <div id="people">
        <div class="grid">
            @for(person <- people) {
            <div id="person-@{person.persistedId}"
                 class="cell drag-drop dropzone"
                 alt-person-id="@{person.persistedId}">
                <div class="image">
                    <a href="#"
                       hx-target="#content"
                       hx-trigger="click"
                       hx-swap="innerHTML"
                       hx-get="/htmx/search/r/@{RequestContext.getRepository.persistedId}?@{Api.Field.Search.PERSON_ID}=@{person.persistedId}&@{Api.Field.Search.IS_NEW_SEARCH}=true">
                    <img src="/content/r/@{RequestContext.getRepository.persistedId}/@{Const.DataStore.FACE}/@{person.coverFaceId}">
                    </a>
                </div>
                <div class="name">
                    <span>
                        <a href="#"
                           @if(!person.isNamed) {
                           class="unknown"
                           }
                           hx-target="#content"
                           hx-trigger="click"
                           hx-swap="innerHTML"
                        hx-get="/htmx/search/r/@{RequestContext.getRepository.persistedId}?@{Api.Field.Search.PERSON_ID}=@{person.persistedId}">
                            @{person.name.get} <span>(@{person.numOfFaces})</span>
                        </a>
                    </span>
                </div>
            </div>
            }
        </div>
    </div>
</div>

<script type="module">
    import { selectTab } from "/static/js/common/navigation.js"

    selectTab("explorer", "peopleTab")
    window.ctx.setRepoId("@{ RequestContext.getRepository.persistedId }")
</script>

<script type="module" src="/static/js/people/dragon-drop.js"></script>


