@import altitude.core.RequestContext
@import altitude.core.Const
@import altitude.core.models.Asset
@(asset: Asset)

<style>
    #imageDetailView {
        display: grid;
        place-items: center;
    }

    #imageDetailView img {
        max-width: 100vw;
        max-height: 100vh;
        width: auto;
        height: auto;
        object-fit: contain;
    }
</style>

<div id="imageDetailView">
    @defining(s"/${ Const.DataStore.CONTENT }/r/${altitude.core.RequestContext.getRepository.persistedId}/${ Const.DataStore.FILE }/${ asset.persistedId }") { imgUrl =>
        <img src="" alt="@{ asset.fileName }">

        <script type="module">
            import { showAssetDetailModal } from "/static/js/common/modal.js"
            import { setImgSrcAndWait } from "/static/js/search-results/detail-navigator.js"
            import { Const } from "/static/js/constants.js"

            Alpine.store(Const.state.imageDetailLoading).value = true

            const img = document.querySelector('#imageDetailModalContent img')

            setImgSrcAndWait(img, "@{imgUrl}")
                .then(() => {
                    showAssetDetailModal({
                        title: "@{ asset.fileName }",
                        width: @{ asset.width },
                        height: @{ asset.height }
                    })

                    document.body.dispatchEvent(new CustomEvent(Const.events.detailShown, {
                        detail: { assetId: "@{ asset.persistedId }" }
                    }))
                })
                .catch((e) => {
                    console.error("Error loading asset image", e)
                })
                .finally(() => {
                    Alpine.store(Const.state.imageDetailLoading).value = false
                })
        </script>
    }
</div>
