<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/html">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>{{ Config["app.name"] }}: {% block title %} {% endblock %}</title>


  <link rel="stylesheet" type="text/css" href="/static/css/lib/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/lib/bootstrap-theme.min.css">
  <!--link rel="stylesheet" type="text/css" href="/static/css/lib/select2.css"-->
  <link rel="stylesheet" type="text/css" href="/static/css/app.css">
  <link rel="stylesheet" type="text/css" href="/static/css/lib/jquery.contextMenu.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/lib/jquery.contextMenu.min.css.map">
  <link rel="stylesheet" type="text/css" href="/static/css/lib/jquery.toast.min.css">

  <link rel="stylesheet" type="text/css" href="/static/css/lib/jstree/themes/default/style.min.css">

  <script src="/static/js/lib/jquery-2.1.1.min.js"></script>
  <script src="/static/js/lib/jquery-ui.min.js"></script>
  <script src="/static/js/lib/bootstrap.min.js"></script>
  <script src="/static/js/lib/knockout-3.4.2.js"></script>
  <script src="/static/js/lib/knockout-custom-bindings.js"></script>
  <!--script src="/static/js/lib/modernizr.custom.js"></script-->
  <!--script src="/static/js/lib/select2.min.js"></script-->
  <script src="/static/js/lib/context-menu/jquery.contextMenu.min.js"></script>
  <script src="/static/js/lib/context-menu/jquery.ui.position.min.js"></script>
  <script src="/static/js/lib/mousetrap.min.js"></script>

  <script src="/static/js/lib/jquery.toast.min.js"></script>

  <script src="/static/js/lib/Base.js?"></script>
  <script src="/static/js/app/utils.js?"></script>
  <script src="/static/js/app/core.js?"></script>
  <script src="/static/js/app/models.js?"></script>

  <script>
    var supportsCustomElements = ('registerElement' in document);
    if (!supportsCustomElements) {
      console.log('No native support for custom elements. Loading web components.');
      $.getScript( "/static/html/vaadin/webcomponents-lite.js", function() {
        console.log('Web components loaded');
      });
    }
  </script>

  <link rel="import" href="/static/html/vaadin/vaadin-split-layout.html">

  {% block assets %}
  {% endblock %}

</head>

<body fullbleed="" layout="" vertical="">

<header layout="" horizontal="" style="padding: 0">
  <div class="container-fluid" style="width: 100%">
    <div class="row" id="navigation">
      <div id="brand" class="col-md-2">
        <h4>
          <a href="/">{{ Config["app.name"] }}</a>
        </h4>
      </div>
      <div class="col-md-4">
        <div id="menulist">
          <div class="row">
            <div class="col-md-3">
              <div class="btn-group">
                <a href="#" data-toggle="dropdown">
                  Import <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#"
                       data-bind="click: function(){getDirectoryNames(null)}"
                       data-toggle="modal" data-target="#selectImportDirectoryModal">From folder</a>
                  </li>

                  <li role="separator" class="divider"></li>
                  <li><a href="#">Upload</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-5">
              <a href="#">Settings</a>
            </div>
          </div>
        </div>
      </div>
      <div id="screenTitle" class="col-md-4">
        <h5>
          {% block title %} {% endblock %}
        </h5>
      </div>
      <div class="col-md-2">
        <form id="searchForm" method="GET" action="/client/search">
          <input type="text" name="${C.Api.Search.QUERY_TEXT}" class="form-control" placeholder="Search..." maxlength="200">
        </form>
      </div>
    </div>
  </div>
</header>

<section flex="" layout="" horizontal="">
{% block body %}
{% endblock %}
</section>

<footer layout="" horizontal="">
  <div id="keyboard-button" class="keyboard footer-item"></div>
  <div>
    <div class="footer-item">Footer</div>
  </div>
  <div flex=""></div>
  <div>
    <div class="footer-item">Footer</div>
  </div>
</footer>

</body></html>