{% extends "./base.html" %}

{% block title %} Browse {% endblock %}

{% block assets %}
  <script src="/static/js/app/search.js"></script>
  <script src="/static/js/app/browse.js"></script>
  <script src="/static/js/lib/jquery.endless-scroll.js"></script>
{% endblock%}

{% block body %}
<div class="row">
  <ol class="breadcrumb" data-bind="visible: currentFolderPath().length > 1, foreach: currentFolderPath" style="display: none">
    <li><a href="#" data-bind="text: $data.name, click: function() {$root.goIntoFolder($data.id)}"></a></li>
  </ol>

  <div class="col-md-2" id="left">
    <div class="row">
      <div id="folders">
        <div>
            <span class="header">
              Folders
            </span>
            <span class="showAddFolder">
            <button type="button" data-bind="click: showAddFolder" class="btn btn-default btn-xs">+ Add</button>
            </span>

          <div id="addFolder" data-bind="visible: _showAddFolder" style="display: none">
            <form id="addFolderForm" class="form-inline">
              <div class="form-group">
                <label for="{{ Const["Api.Folder.NAME"] }}" class="control-label"></label>
                <div class="error"></div>
                <input type="text" class="form-control" name="{{ Const["Api.Folder.NAME"] }}" id="newFolderName" maxlength="255" placeholder="New folder name">
              </div>
            </form>

            <div style="text-align: right">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <a href="#" data-bind="click: hideAddFolder">Cancel</a>
            </div>
          </div>
        </div>

        <ul data-bind="foreach: folders">
          <li class="folder-target">
              <span class="context-menu" data-bind="attr: {'folder_id': $data.id}">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                &nbsp;
                <a href="#" data-bind="text: name, click: function() {$root.goIntoFolder($data.id)}"></a>
                <span data-bind="html: '<span class=folder-count>(' + numOfAssets + ')</span>'"></span>
              </span>
          </li>
        </ul>
      </div><!-- /folders -->
    </div><!-- /row -->

    <!--
    system folders
    -->
    <div class="row">
      {% include "./partials/system_folders.html" %}
    </div>

    <!--
    preview
    -->
    <div class="row">
      <div class="col-md-12" style="height: 40%">
        {% include "./partials/preview.html" %}
      </div>
    </div>
  </div>

  <div class="col-md-10">
    {% include "./partials/search_results.html" %}
  </div>
</div>

<!-- MODALS -->
{% include "./partials/modals.html" %}


<script>
  $(document).ready(function() {
    var browseViewModel = new BrowseViewModel();
    ko.applyBindings(browseViewModel);
  });
</script>
{% endblock%}

{% block footer %}
  {% include "./partials/selection_tools.html" %}
{% endblock%}
