{% extends "./base.html" %}

{% block title %} Browse {% endblock %}

{% block assets %}
  <script src="/static/js/app/assets.js"></script>
  <script src="/static/js/app/browse.js"></script>

{% endblock%}

{% block body %}
<vaadin-split-layout horizontal style="width: 100%;">
  <vaadin-split-layout id="leftPanel" vertical style="width: 25%; min-width: 10%; max-width: 90%;">

    <div id="sortedLeftPanel" style="max-height: 95%">
      <div class="flat-folders">

        {% include "./partials/system_folders.html" %}

        <div class="selected-path"
             data-bind="visible: currentFolderPath().length > 1, foreach: currentFolderPath"
             style="display: none">
          <div data-bind="style: {marginLeft: $data.depth / 2 + 'em'}">
            <div class="corner">&nbsp;</div>
            <a href="#">
              <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
              &nbsp;<span data-bind="text: $data.name, click: function() {$root.goIntoFolder($data.id)}"></span>
            </a>
          </div>
        </div>

        <ul data-bind="foreach: folders, visible: folders().length > 0">
          <li class="folder" data-bind="attr: {'folder_id': $data.id}, click: function() {$root.goIntoFolder($data.id)}">
            <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
            &nbsp;
            <a href="#" data-bind="text: name"></a>
            <span data-bind="html: '<span class=folder-count>(' + numOfAssets + ')</span>'"></span>
          </li>
        </ul>

        <div class="no-folders" data-bind="visible: folders().length === 0">
          No folders
        </div>

        <div data-bind="visible: _showAddFolder" style="display: none">
          <form id="addFolderForm">
            <div class="col-md-12">
              <div class="pull-right">
                <button type="button" data-bind="click: hideAddFolder" class="btn">
                  <span class="glyphicon glyphicon-remove-sign"></span></button>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" name="name" id="newFolderName" maxlength="255" placeholder="New folder name">
                <span class="error"></span>
              </div>
            </div>
          </form>
        </div>

        <div id="showAddFolder">
          <button type="button" data-bind="click: showAddFolder" class="btn">
            <span class="glyphicon glyphicon-plus"></span></button>
        </div>
      </div><!-- /#folders -->
    </div><!-- /left top panel -->

    <div style="max-height: 95%">

    </div><!-- /left bottom panel -->
  </vaadin-split-layout>

  <div style="width: 75%; min-width: 10%; max-width: 90%;">
    {% include "./partials/search_results.sorted.html" %}
  </div>

</vaadin-split-layout>

<!-- MODALS -->
{% include "./partials/modals.html" %}

<script>
  $(document).ready(function() {
    var browseViewModel = new BrowseViewModel();
    ko.applyBindings(browseViewModel);
  });
</script>


{% endblock%}

{% block footer %}
{% endblock%}
