{% extends "./base.html" %}

{% block title %} Trash {% endblock %}

{% block assets %}
<script src="/static/js/app/assets.js"></script>
<script src="/static/js/app/trash.js"></script>
{% endblock %}

{% block body %}

<vaadin-split-layout horizontal style="width: 100%;">
  <vaadin-split-layout id="leftPanel" vertical style="width: 25%; min-width: 10%; max-width: 90%;">

    <div id="trashLeftPanel" style="min-height: 100%">
        {% include "./partials/system_folders.html" %}
    </div><!-- /left top panel -->
  </vaadin-split-layout>

  <div style="width: 75%; min-width: 10%; max-width: 90%;">
    {% include "./partials/search_results.trash.html" %}
  </div>

</vaadin-split-layout>

<!-- MODALS -->
{% include "./partials/modals.html" %}

<!-- Move assets from trash -->
<div class="modal fade"
     id="moveSelectedAssetsFromTrashModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="moveSelectedAssetsFromTrashModal.lbl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="moveSelectedAssetsFromTrashModal.lbl">Select folder to move to</h4>
        </div>
        <div class="modal-body">
          <div id="moveSelectedAssetsFromTrashModal.tree"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="moveSelectedAssetsFromTrashModal.actionBtn"
                  type="button"
                  class="btn btn-warning"
                  data-bind="click: moveSelectedAssetsFromTrash">Move</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade"
     id="moveAssetFromTrashModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="moveAssetFromTrashModal.lbl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="moveAssetFromTrashModal.lbl">Select folder to move to</h4>
        </div>
        <div class="modal-body">
          <div id="moveAssetFromTrashModal.tree"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="moveAssetFromTrashModal.actionBtn"
                  type="button"
                  class="btn btn-warning"
                  data-bind="click: moveAssetFromTrash">Move</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script>
  $(document).ready(function() {
    var trashViewModel = new TrashViewModel();
    ko.applyBindings(trashViewModel);
  });
</script>
{% endblock %}

{% block footer %}
{% endblock%}
