{% extends "./base.html" %}

{% block title %} Triage {% endblock %}

{% block assets %}
<script src="/static/js/app/assets.js"></script>
<script src="/static/js/app/triage.js"></script>
{% endblock %}

{% block body %}
<vaadin-split-layout horizontal style="width: 100%;">
  <vaadin-split-layout id="leftPanel" vertical style="width: 30%; min-width: 10%; max-width: 90%;">

    <div id="triageLeftPanel" style="max-height: 95%">
      <div class="tree-folders">

        {% include "./partials/system_folders.html" %}

        <div class="no-folders" data-bind="visible: folders().length === 0">No folders</div>

        <div id="triageFolderTree"></div>

        <div data-bind="visible: _showAddFolder" style="display: none">
          <form id="addFolderForm">
            <div class="col-md-12">
              <div class="pull-right">
                <button type="button" data-bind="click: hideAddFolder" class="btn">
                  <span class="glyphicon glyphicon-remove-sign"></span></button>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" name="name" id="newFolderName" maxlength="255" placeholder="New folder name">
                <span class="error"></span>
              </div>
            </div>
          </form>
        </div>

      </div><!-- /#folders -->
    </div><!-- /left top panel -->

    <div style="max-height: 95%">

    </div><!-- /left bottom panel -->
  </vaadin-split-layout>

  <div style="width: 70%; min-width: 10%; max-width: 90%;">
    {% include "./partials/search_results.html" %}
  </div>

</vaadin-split-layout>

<!-- MODALS -->
{% include "./partials/modals.html" %}


<script>
  $(document).ready(function() {
    var triageViewModel = new TriageViewModel();
    ko.applyBindings(triageViewModel);
  });
</script>
{% endblock%}

{% block footer %}
{% endblock%}
