{% extends "./base.html" %}

{% block title %} Triage {% endblock %}

{% block assets %}
<script src="/static/js/app/assets.js"></script>
<script src="/static/js/app/triage.js"></script>
{% endblock %}

{% block body %}
<vaadin-split-layout horizontal style="width: 100%;">
  <vaadin-split-layout id="leftPanel" vertical style="width: 30%; min-width: 10%; max-width: 90%;">

    <div style="max-height: 95%">
      <div id="folders">

        <div id="noFolders" data-bind="visible: folders().length === 0">No folders</div>

        <div id="folderSelModal-moveFolder-tree"></div>

      </div><!-- /#folders -->
    </div><!-- /left top panel -->

    <div style="max-height: 95%">

    </div><!-- /left bottom panel -->
  </vaadin-split-layout>

  <div style="width: 70%; min-width: 10%; max-width: 90%;">
    {% include "./partials/search_results.html" %}
  </div>

</vaadin-split-layout>

<!-- MODALS -->
{% include "./partials/modals.html" %}


<script>
  $(document).ready(function() {
    var triageViewModel = new TriageViewModel();
    ko.applyBindings(triageViewModel);
  });
</script>
{% endblock%}

{% block footer %}
{% endblock%}
