@(styles: Html = Html(""), scripts: Html = Html(""))(content: Html)

@import controllers.manager.web.routes

@appName = {@play.api.Play.current.configuration.getString("application.name")}

<!DOCTYPE html>
<html>
	<head>
		<title>@appName</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/lib/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/lib/select2.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/app.css")">

        <script src="@routes.Assets.versioned("js/lib/jquery-2.1.1.min.js")"></script>
        <script src="@routes.Assets.versioned("js/lib/jquery-ui-1.11.2.custom/jquery-ui.min.js")"></script>

        <script src="@routes.Assets.versioned("js/lib/knockout-3.2.0.js")"></script>
        <script src="@routes.Assets.versioned("js/lib/knockout-custom-bindings.js")"></script>
        <script src="@routes.Assets.versioned("js/lib/knockout-jqueryui.min.js")"></script>

        <script src="@routes.Assets.versioned("js/lib/bootstrap.js")"></script>
        <script src="@routes.Assets.versioned("js/lib/modernizr.custom.js")"></script>
        <script src="@routes.Assets.versioned("js/lib/select2.min.js")"></script>

        <script src="@routes.Assets.versioned("js/lib/Base.js")"></script>
        <script src="@routes.Assets.versioned("js/app/core.js")"></script>

		@styles
	</head>
	<body>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">@appName</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Settings</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>
		<div class="container-fluid">
			@content
		</div>
		@scripts
	</body>
</html>
