@import controllers.manager.web.routes

@scriptsArg = {
      <script src="@routes.Assets.versioned("js/app/import.js")"></script>
}

@views.html.manager.base(scripts = scriptsArg) {
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <button type="button" class="btn btn-default">Start Import</button>
        </div>
    </div>

    <div id="out">

    </div>

    <script>
    $(document).ready(function() {
      var importViewModel = new ImportViewModel();
      ko.applyBindings(importViewModel);
    });
  </script>
}
