<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%M:%L - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="altitude" level="DEBUG" />
  <logger name="org.fusesource.scalate.util" level="INFO" />
  <logger name="org.atmosphere" level="WARN" />
  <logger name="org.fusesource.scalate.servlet" level="INFO" />
  <logger name="org.scalatra.servlet.ScalatraListener" level="INFO" />



</configuration>
