<!-- Import directory browser modal -->
<div class="modal fade" id="selectImportDirectoryModal" tabindex="-1" role="dialog" aria-labelledby="selectImportDirectoryLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="selectImportDirectoryModalLabel">Select location to import from...</h4>
        </div>
        <div class="modal-body">
          <!-- back button -->
          <button type="button" class="btn btn-sm btn-default go-back" data-bind="click: gotoPreviousDirectory">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Back
          </button>

          <div>
            <span data-bind="text: currentPath"></span>
          </div>

          <select id="importDirectoryList" size="20" data-bind="foreach: directoryNames" name="selectedDirectory" multiple="no" >
            <option data-bind="attr: {'value': $data}, text: $data, event : { dblclick: $parent.dropIntoDirectory($data) }"></option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-bind="click: selectImportDirectory">Select</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Rename folder -->
<div class="modal fade" id="renameFolderModal" tabindex="-1" role="dialog" aria-labelledby="renameFolderModal-lbl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="renameFolderModal-form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="renameFolderModal-lbl">Rename this folder</h4>
        </div>
        <div class="modal-body">
          <form class="form-inline">
            <div class="form-group">
              <label for="renameFolderModal-input" class="control-label"></label>
              <div class="error"></div>
              <input id="renameFolderModal-input" name="name" type="text" class="form-control">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- New folder -->
<div class="modal fade" id="newFolderModal" tabindex="-1" role="dialog" aria-labelledby="newFolderLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="newFolderModal-newFolderForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="newFolderLabel">
            Add a new folder
          </h4>
        </div>
        <div class="modal-body">
          <form class="form-inline">
            <div class="form-group">
              <label for="newFolderModal-newFolderName" class="control-label"></label>
              <div class="error"></div>
              <input id="newFolderModal-newFolderName" name="name" type="text" class="form-control">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/static/js/lib/jstree/jstree.min.js"></script>

<!-- Move folder -->
<div class="modal fade"
     id="moveFolderModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="moveFolderModal-lbl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="moveFolderModal-lbl">Select folder to move to</h4>
        </div>
        <div class="modal-body">
          <div id="moveFolderModal-tree"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="moveFolderModal-actionBtn" type="button" class="btn btn-primary" data-bind="click: moveFolder">Move</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Move assets -->
<div class="modal fade"
     id="moveSelectedAssetsModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby=moveSelectedAssetsModal-lbl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="moveSelectedAssetsModal-lbl">Select folder to move to</h4>
        </div>
        <div class="modal-body">
          <div id="moveSelectedAssetsModal-tree"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="moveSelectedAssetsModal-actionBtn"
                  type="button"
                  class="btn btn-warning"
                  data-bind="click: moveSelectedAssets">Move</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Move a single asset -->
<div class="modal fade"
     id="moveAssetModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="moveAssetModal-lbl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="moveAssetModal-lbl">Select folder to move to</h4>
        </div>
        <div class="modal-body">
          <div id="moveAssetModal-tree"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="moveAssetModal-actionBtn"
                  type="button"
                  class="btn btn-warning"
                  data-bind="click: moveAsset">Move</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete assets -->
<div class="modal fade" id="delSelectedAssetsModal" tabindex="-1" role="dialog" aria-labelledby="delSelectedAssetsModal-lbl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="delSelectedAssetsModal-lbl">Confirm</h4>
        </div>
        <div class="modal-body">
          Delete <span data-bind="text: selectedCount"></span> selected assets?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="delSelectedAssetsModal-actionBtn"
                  type="button" class="btn btn-danger"
                  data-bind="click: moveSelectedToTrash">Move to Trash</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Asset view modal -->
<div class="modal modal-fullscreen"
     id="assetModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="assetModal-lbl"
     aria-hidden="true">
  <div class="modal-dialog">
    <span class="helper"></span>
    <img data-bind="visible: detailAsset, attr: {src: detailAssetDataUrl}, css: {'selected': detailAssetSelected}"
         style="display: none">
  </div>
</div>