<!-- Import directory browser modal -->
<div class="modal fade" id="selectImportDirectoryModal" tabindex="-1" role="dialog" aria-labelledby="selectImportDirectoryLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="selectImportDirectoryModalLabel">Select location to import from...</h4>
        </div>
        <div class="modal-body">
          <!-- back button -->
          <button type="button" class="btn btn-sm btn-default go-back" data-bind="click: gotoPreviousDirectory">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Back
          </button>

          <div>
            <span data-bind="text: currentPath"></span>
          </div>

          <select id="importDirectoryList" size="20" data-bind="foreach: directoryNames" name="selectedDirectory" multiple="no" >
            <option data-bind="attr: {'value': $data}, text: $data, event : { dblclick: $parent.dropIntoDirectory($data) }"></option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-bind="click: selectImportDirectory">Select</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Folder rename modal -->
<div class="modal fade" id="renameFolderModal" tabindex="-1" role="dialog" aria-labelledby="renameFolderLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="renameFolderForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="renameFolderLabel">Rename this folder</h4>
        </div>
        <div class="modal-body">
          <form class="form-inline">
            <input type="hidden" id="renameFolderId">
            <div class="form-group">
              <label for="{{ Const["Api.Folder.NAME"] }}" class="control-label"></label>
              <div class="error"></div>
              <input id="renameFolderInput" name="${C.Api.Folder.NAME}" type="text" class="form-control">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/static/js/lib/jstree/jstree.min.js"></script>

<!-- Move folder -->
<div class="modal fade"
     id="folderSelModal-moveFolder"
     tabindex="-1"
     role="dialog"
     aria-labelledby="folderSelModal-moveFolder-lbl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="folderSelModal-moveFolder-lbl">Select folder to move to</h4>
        </div>
        <div class="modal-body">
          <div id="folderSelModal-moveFolder-tree"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="folderSelModal-moveFolder-actionBtn" type="button" class="btn btn-primary" data-bind="click: moveFolder">Move</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Move assets -->
<div class="modal fade"
     id="folderSelModal-moveSelectedAssets"
     tabindex="-1"
     role="dialog"
     aria-labelledby="folderSelModal-moveSelectedAssets-lbl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="folderSelModal-moveSelectedAssets-lbl">Select folder to move to</h4>
        </div>
        <div class="modal-body">
          <div id="folderSelModal-moveSelectedAssets-tree"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="folderSelModal-moveSelectedAssets-actionBtn"
                  type="button"
                  class="btn btn-warning"
                  data-bind="click: moveSelectedAssets">Move</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Move a single asset -->
<div class="modal fade"
     id="folderSelModal-moveAsset"
     tabindex="-1"
     role="dialog"
     aria-labelledby="folderSelModal-moveAsset-lbl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="folderSelModal-moveAsset-lbl">Select folder to move to</h4>
        </div>
        <div class="modal-body">
          <div id="folderSelModal-moveAsset-tree"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="folderSelModal-moveAsset-actionBtn"
                  type="button"
                  class="btn btn-warning"
                  data-bind="click: moveAsset">Move</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete assets -->
<div class="modal fade" id="delSelectedAssetsModal" tabindex="-1" role="dialog" aria-labelledby="delSelectedAssetsModal-lbl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="delSelectedAssetsModal-lbl">Confirm</h4>
        </div>
        <div class="modal-body">
          Delete <span data-bind="text: selectedCount"></span> selected assets?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="delSelectedAssetsModal-actionBtn"  type="button" class="btn btn-danger" data-bind="click: moveSelectedToTrash">Move to Trash</button>
        </div>
      </form>
    </div>
  </div>
</div>
