<div id="selectionTools" data-bind="visible: selectedCount() > 1" style="display: none;">
    <div class="btn-group btn-block">
      <button type="button" class="btn btn-success dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Selected <span class="badge" data-bind="html: selectedCount()"></span>
        <span class="caret caret-up"></span>
      </button>
      <ul class="dropdown-menu">
        <!--
                  <li data-bind="click: showQuickSelectionView">
                    <a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;&nbsp;Quick view</a>
                  </li>
                  <li role="separator" class="divider"></li>
        -->

        <li data-bind="click: showDeleteSelectedAssets">
          <a href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;&nbsp;Delete</a>
        </li>

        <li role="separator" class="divider"></li>

        <li data-bind="click: showMoveSelectedAssets">
          <a href="#"><span class="glyphicon glyphicon-move" aria-hidden="true"></span>&nbsp;&nbsp;Move</a>
        </li>

        <li role="separator" class="divider"></li>

        <li data-bind="click: deselectAll">
          <a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;&nbsp;Clear selection</a>
        </li>
      </ul>
    </div>
</div>
