<!-- Stacktrace detail -->
<div class="modal modal-fullscreen"
     id="stacktraceModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="stacktraceModal-lbl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="stacktraceModal-lbl">SUBMIT ERROR REPORT</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12" id="stacktraceModal-message" data-bind="text: stacktraceMessage">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" id="stacktraceModal-stacktrace" data-bind="html: stacktraceDetail">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Ignore</button>
          <button id="stacktraceModal-actionBtn" type="button" class="btn btn-danger" data-bind="click: submitStacktrace">Submit Report</button>
        </div>
      </form>
    </div>
  </div>
</div>
