/* BS OVERRIDES */

.form-control {
    height: 2.2em;
}

.form-group .error {
    color: #ff544d;
    font-weight: normal;
    margin-left: .5em;
    font-size: .9em;
    margin-bottom: .2em;
}

select {
    color: #000;
    background-color: #FFF;
}

.well-sm {
    padding: .2em;
    border-radius: .3em;
}

.modal-body {
    padding: 1em;
}

.modal-footer {
    padding: 1em;
}

.alert {
    padding: .1em 0.5em .1em 0.5em;
    border-radius: 0;
    width: 100%;
}

.alert-success {
    background-color: #379337;
}

.alert .close {
    color: #FFF;
}

.breadcrumb {
    border-radius: 0.2em;
    margin-bottom: 1em;
    border-width: 2px;
    border-left: None;
    border-right: None;
    border-top: 1px solid #3b3b3b;
    border-bottom: 1px solid #3b3b3b;
    padding: .4em;
    background-image: none;
}

/* GLOBAL */

#divider {
    border-bottom: 1px inset #494744;
    margin-bottom: 1em;
}

#hud {
    max-height: 2.2em;
    border-bottom: 1px solid #1d1d1d;
}

#warningMessage {
    width: 100%;
}

#errorContainer h4 {
    margin: 0;
}
/* NAV */

#navigation {
    padding-top: 0.8em;
    background-color: #363d42;
}

#menulist {
    border-radius: 0.3em;
    border: 1px solid #272b30;
    padding: 0.5em 0 0.5em 0;
    text-align: center;
}

#menulist a {
    color: #bebebe;
}

#navigation .form-control {
    width: 95%;
}

#brand {
    text-align: center;
}

#brand a {
    color: #677076;
}

#brand h4 {
    padding-left: 1em;
    font-family: Helvetica, Arial, sans-serif;
}

#screenTitle {
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    background-color: #272b30;
    text-align: center;
    padding-top: 0.8em;
}

#screenTitle, #brand {
    text-transform: uppercase;
}

#screenTitle h5, #brand a {
    font-weight: bolder;
}

/* IMPORT */
#importControls {
    border-bottom: 1px solid #1c1e22;
    padding-bottom: 0.8em;
}

#selectImportMode .large {
    height: 6em;
}

#importControls .progress {
    height: 2.8em;
    margin-bottom: 0;
}

#importControls .progress h4 {
    height: 2.8em;
    padding-top: .05em;
}

#importControls #startStop{
    margin: 2em;
}

#importControls .tab-pane {
    margin: 1em;
}

#importControls .asset {
    padding: 1em;
    background: -moz-linear-gradient(top, rgba(216,224,222,0.3) 0%, rgba(174,191,188,0.3) 22%, rgba(153,175,171,0.3) 33%, rgba(142,166,162,0.3) 50%, rgba(130,157,152,0.3) 67%, rgba(78,92,90,0.3) 82%, rgba(14,14,14,0.3) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(216,224,222,0.3)), color-stop(22%,rgba(174,191,188,0.3)), color-stop(33%,rgba(153,175,171,0.3)), color-stop(50%,rgba(142,166,162,0.3)), color-stop(67%,rgba(130,157,152,0.3)), color-stop(82%,rgba(78,92,90,0.3)), color-stop(100%,rgba(14,14,14,0.3))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(216,224,222,0.3) 0%,rgba(174,191,188,0.3) 22%,rgba(153,175,171,0.3) 33%,rgba(142,166,162,0.3) 50%,rgba(130,157,152,0.3) 67%,rgba(78,92,90,0.3) 82%,rgba(14,14,14,0.3) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(216,224,222,0.3) 0%,rgba(174,191,188,0.3) 22%,rgba(153,175,171,0.3) 33%,rgba(142,166,162,0.3) 50%,rgba(130,157,152,0.3) 67%,rgba(78,92,90,0.3) 82%,rgba(14,14,14,0.3) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(216,224,222,0.3) 0%,rgba(174,191,188,0.3) 22%,rgba(153,175,171,0.3) 33%,rgba(142,166,162,0.3) 50%,rgba(130,157,152,0.3) 67%,rgba(78,92,90,0.3) 82%,rgba(14,14,14,0.3) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(216,224,222,0.3) 0%,rgba(174,191,188,0.3) 22%,rgba(153,175,171,0.3) 33%,rgba(142,166,162,0.3) 50%,rgba(130,157,152,0.3) 67%,rgba(78,92,90,0.3) 82%,rgba(14,14,14,0.3) 100%); /* W3C */
    border-radius: 8px;
}

#importControls #startStop button {
    width: 90%;
}

#readyToImport {
    margin-bottom: 1em;
    text-align: center;
}

#importedAssets {
    margin-top: 1.5em;
}

#importedAssets .asset {
    float: left;
    margin: 1em;
}

#importControls #warnings strong {
    color: orange;
}

#importControls #errors strong {
    color: indianred;
    font-size: 1em;
}

#importProfiles select {
    width: 100%;
    color: #f9f2f4;
    background-color: #1c1e22;
}


/* ASSETS */

#search {
    margin-top: .1em;
}

#searchResults {
    height: 100%;
    text-align: center;
    overflow: auto;
}

#searchResults .result-box {
    border: solid 2px #212223;
    display: inline-block;
    padding: 5px;
}

#searchResults .result-box.focused {
    border: 2px solid darkred;
}

#searchResults .result-box.selected {
    border: 2px solid #00c5f4;
}

#searchResults .result-box.selected.focused {
    border: 2px solid #cf38f4;
}

#noResults {
    margin: 10em;
    text-align: center;
}

#addFolderForm input, #renameFolderForm input {
    width: 100%;
}

#addFolder {
    margin-top: 1em;
}

.pager-button {
    height: 100%;
}

.pager-button:hover {
    background: #232628;
    text-decoration: none;
    color: #2980b9;
}

.pager-button:focus {
    text-decoration: none;
}

#slider {
    margin-bottom: 0.8em;
}

#slider  {
    background: #363d42;
}

#slider .ui-slider-handle {
    background: #677076;
    border-color: #212223;
}

#pageCounter {
    text-align: center;
    padding-bottom: 0.8em;
    font-weight: bold;
    color: #677076;
}

/* FOLDERS */

#folders {
    padding-top: .5em;
    padding-right: .5em;
}

#folders button {
    line-height: .5em;
    opacity: .6;
    width: 6em;
}

#folders ul {
    margin-top: 0.5em;
    list-style-type: none;
    padding-left: 0.7em;
}

li.folder {
    cursor: hand;
}

#systemFolders {
    padding-left: .4em;
    padding-top: .6em;
    padding-bottom: .1em;
    margin-left: 0.5em;
    background-color: #363d42;
}

#systemFolders .system-folder {
    padding-left: 0.8em;
    margin-bottom: .4em;
}

#trash a {
    color: #ff4e41;
    font-weight: bold;
}

#folders .highlight, #systemFolders .highlight {
    background-color: #5a5855;
}

.folder-count {
    color: #5f5c58;
    font-size: .9em;
}

/* PATH (BREADCRUMBS) */


#path div.well-sm {
    padding-left: 0.5em;
    padding-right: 0.5em;
}


/* SELECTION TOOLS */

.caret-up {
    /* Safari */
    -webkit-transform: rotate(-180deg);

    /* Firefox */
    -moz-transform: rotate(-180deg);

    /* IE */
    -ms-transform: rotate(-180deg);

    /* Opera */
    -o-transform: rotate(-180deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);
}

.drop-up {
    top: auto;
    bottom: 100% !important;
}

#selectionTools {
    margin-top: 1em;
    margin-left: .5em;
}

/* FULL SCREEN MODAL */

#assetModal {
    width: 100%;
    height: 100%;
}

#assetModal .modal-dialog {
    white-space: nowrap;
    text-align: center; margin: 0;
}

#assetModal img {
    max-width:98%;
    max-height:98%;
    vertical-align: middle;
}

#assetModal .selected {
    border: 3px solid #00c5f4;
}

#assetModal .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.modal-fullscreen {
    background: transparent;
}
.modal-fullscreen .modal-content {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
    background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
    opacity: .7;
    filter: alpha(opacity=97);
}

.modal-fullscreen .modal-dialog {
    margin: 0;
    width: 100%;
}

/* MISC */
#selectImportDirectoryModal select, #importProfiles select, #selectAssetMoveDirectoryModal select {
    width: 100%;
    color: #000000;
}

#selectImportDirectoryModal .go-back, #selectAssetMoveDirectoryModal .go-back {
    margin-bottom: 1em;
    padding-left: 4em;
    padding-right: 4em;
}

