/* GLOBAL */
body {
    padding-top: 70px;
}

/* IMPORT */
#importControls {
    border-bottom: 1px solid #1c1e22;
    padding-bottom: 0.8em;
    margin-bottom: 0.8em;
}

#selectImportMode .large {
    height: 6em;
}

#importControls .progress {
    height: 2.8em;
    margin-bottom: 0;
}

#importControls .progress h4 {
    height: 2.8em;
    padding-top: .05em;
}

#importControls #asset-count-text {
    padding-right: 0.5em;
    padding-top: .5em;
}

#importControls #startStop{
    text-align: center;
}

#importControls #startStop button {
    width: 90%;
}

#importControls #imagePreview {
    margin: 1em;
}

#importControls #currentPath {
    font-size: .8em;
}

#readyToImport {
    margin-bottom: 1em;
    text-align: center;
}

#importMessages {
    margin-top: 1.5em;
}

#importMessages .message {
    font-size: .9em;
}

#selectImportDirectory select, #importProfiles select {
    width: 100%;
    color: #000000;
}

#importProfiles select {
    width: 100%;
    color: #f9f2f4;
    background-color: #1c1e22;
}

/* SEARCH */

#searchResults img {
    float: left;
    margin: 1em;
}

/* FORMS */

.form-group .error {
    color: Red;
    font-weight: bold;
    margin-left: 1.1em;
}