<?xml version="1.0" encoding="UTF-8"?>
<!--
  metadata-complete="true" and <absolute-ordering/> is to disable annotation scanning:
  https://programmingnotepad.wordpress.com/2013/12/02/speed-up-e-g-mvn-jettyrun-by-disabling-annotation-scanning-on-jetty-startup/
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0" metadata-complete="true">

  <!--
    This listener loads a class in the default package called ScalatraBootstrap.
    That class should implement org.scalatra.LifeCycle.  Your app can be
    configured in Scala code there.
  -->
  <listener>
    <listener-class>org.scalatra.servlet.ScalatraListener</listener-class>
  </listener>

  <absolute-ordering/>
</web-app>

