<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%boldWhite(%d{HH:mm:ss.SSS}) %cyan(%X{REQUEST_ID}) %gray(%X{USER}) %highlight(%-5level) %logger{36}:%M:%L - %highlight(%msg) %n</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="software.altitude.core" level="INFO" />
  <logger name="org.scalatra" level="INFO" />
  <logger name="org.eclipse.jetty" level="ERROR" />
  <logger name="org.fusesource.scalate" level="ERROR" />
  <logger name="org.apache.tika.config.TikaConfig" level="ERROR" />
  <logger name="org.atmosphere" level="ERROR" />
</configuration>
