- attributes("title") = "Import"

script(src="/js/app/import.js")
#import-controls.row
  .col-md-10.col-lg-10

    .progress(data-bind="visible: isImporting() && assetsImportedCnt() > 0")
      .progess-bar(data-bind="attr: {'aria-valuenow': percentComplete}, style: {width: percentComplete() + '%'}"
        role="progressbar" aria-valuemin="0" aria-valuemax="100")

    #collecting-data-text(data-bind="visible: isImporting() && assetsImportedCnt() == 0")
      .alert.alert-succes(role="alert")
        h4 Collecting asset info ...

    #asset-count-text(data-bind="visible: isImporting() && totalAssetsCnt()")

  #import-button.col-md-2.col-lg-2
    button.btn.btn-default(data-bind="click: importAssets, visible: !isImporting()") Start Import
    button.btn.btn-danger(data-bind="click: cancelImportAssets, visible: isImporting()") STOP

:javascript
    $(document).ready(function() {
        var importViewModel = new ImportViewModel();
        ko.applyBindings(importViewModel);
    });