<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALTITUDE</title>
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <style>
        #missionControl {
            border-right: 1px solid var(--panel-border-color);
            box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
            text-shadow: rgba(0,0,0,0.75) 0 1px;
        }

        #assets {
            border-left: 1px solid var(--panel-border-color);
            box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
            text-shadow: rgba(0,0,0,0.75) 0 1px;
        }

        #assetNav {
            padding: .3em;
            border-bottom: 1px solid var(--panel-border-color);
            box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
            text-shadow: rgba(0,0,0,0.75) 0 1px;
        }

        #metadata {
            border-top: 1px solid var(--panel-border-color);
            box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
            text-shadow: rgba(0,0,0,0.75) 0 1px;
        }
    </style>
</head>
<body>

<div>
    {{> nav}}
</div>

<main>
    <div id="missionControl" class="split content split-horizontal">
        <div id="assetNav" class="split content">
            <div id="folders">
            </div>
        </div>
        <div id="metadata" class="split content">
        </div>
    </div>

    <div id="assets" class="split content split-horizontal">
    </div>
</main>

<footer>
    <div>
        Index Footer
    </div>
</footer>

<script type="module" lang="js">
    /*********************************************************************
     * IMPORTS
     *********************************************************************/
    import Split from '/js/split.es.js'
    Split(["#missionControl", "#assets"], {
        sizes: [25, 75]
    })
    Split(["#assetNav", "#metadata"], {
        sizes: [50, 50],
        direction: 'vertical'
    })
</script>

</body>
</html>
