<style>
    #batchOps {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

    #batchOps .container {
        display: flex;
        grid-column-start: 2;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 100px;
        padding-right: 100px;
        box-sizing: border-box;
    }

    #batchOps i {
        margin-right: 10px;
    }

    #batchOps .batch-mover button {
        cursor: move;
    }

    #batchOps .control button:hover {
        border-color: var(--warning-background-color);
    }

</style>


<div id="batchOps" x-show="!$store.selectedAssets.isEmpty">
    <div class="container">
        <!-- Default view: Move, Recycle, Deselect All -->
        <template x-if="!$store.currentView.isTrashBinView()">
            <div class="container">
                <div class="control batch-mover">
                    <button data-variant="success" class="drag-drop"><i class="fas fa-truck-moving"></i>Move&nbsp;(<span x-text="$store.selectedAssets.size"></span>)</button>
                </div>
                <div class="control batch-recycler">
                    <button data-variant="warning" @@click="$dispatch(window.Const.events.batchAssetsRecycled)"><i class="fas fa-trash"></i>Recycle&nbsp;(<span x-text="$store.selectedAssets.size"></span>)</button>
                </div>
                <div class="control">
                    <button @@click="$store.selectedAssets.reset()"><i class="fas fa-toggle-off"></i>Deselect All</button>
                </div>
            </div>
        </template>
        <!-- Trash bin view: Purge, Restore, Deselect All -->
        <template x-if="$store.currentView.isTrashBinView()">
            <div class="container">
                <div class="control">
                    <button data-variant="warning" @@click="$dispatch(window.Const.events.batchAssetsPurged)"><i class="fas fa-fire"></i>Purge&nbsp;(<span x-text="$store.selectedAssets.size"></span>)</button>
                </div>
                <div class="control">
                    <button data-variant="success" @@click="$dispatch(window.Const.events.batchAssetsRestored)"><i class="fas fa-undo"></i>Restore&nbsp;(<span x-text="$store.selectedAssets.size"></span>)</button>
                </div>
                <div class="control">
                    <button @@click="$store.selectedAssets.reset()"><i class="fas fa-toggle-off"></i>Deselect All</button>
                </div>
            </div>
        </template>
    </div>
</div>

