<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="color-scheme" content="dark">
<link rel="stylesheet" href="https://unpkg.com/@@knadh/oat/oat.min.css">
<link rel="stylesheet" href="/static/css/core.css">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<script src="https://unpkg.com/@@knadh/oat/oat.min.js" defer></script>
<script src="/static/js/lib/htmx.min.js"></script>
<script src="/static/js/lib/axios.min.js"></script>
<script type="module" src="/static/js/global.js"></script>
