@import altitude.core.Api
@import altitude.core.Const
@import altitude.core.models.Stats
@import altitude.core.RequestContext

@(stats: Stats = Stats(List()), repoId: String = RequestContext.getRepository.persistedId)

<a href="/" aria-label="Altitude home"><strong>Altitude</strong></a>

<a href="/"
   data-view="repository"><i class="fas fa-database"></i> Browse</a>

@if(stats.getTriageAssetCount > 0) {
    <a href="/r/@repoId?@{Api.Field.Search.VIEW}=@{Const.Search.View.TRIAGE}"
       data-view="triage"
       class="nav-triage"><i class="fas fa-medkit"></i> Triage (@{stats.getTriageAssetCount})</a>
} else {
    <span data-view="triage" class="nav-triage nav-empty"><i class="fas fa-medkit"></i> Triage (0)</span>
}

@if(stats.getRecycledAssetCount > 0) {
    <a id="trash"
       href="/r/@repoId?@{Api.Field.Search.VIEW}=@{Const.Search.View.TRASHBIN}"
       data-view="trashbin"
       class="nav-trashbin"><i class="fas fa-trash"></i> Trash (@{stats.getRecycledAssetCount})</a>
} else {
    <span id="trash" data-view="trashbin" class="nav-trashbin nav-empty"><i class="fas fa-trash"></i> Trash (0)</span>
}

<a href="/pipeline/r/@repoId"
   data-view="import"><i class="fas fa-plus-square"></i> Import</a>

<a href=""
   data-view="settings"><i class="fas fa-cog"></i> Settings</a>

<input type="search" id="search" name="search" placeholder="Search" aria-label="Search assets">
