-@ val title: String
-@ val body: String

!!!
html(lang="en")
  head
    title= title
    link(rel='stylesheet' href='/css/app.css')
    link(rel='stylesheet' href='/css/lib/bootstrap.min.css')
    link(rel='stylesheet' href='/css/lib/select2.css')
    link(rel='stylesheet' href='/css/lib/select2.png')
    link(rel='stylesheet' href='/css/lib/select2-spinner.gif')
    link(rel='stylesheet' href='/css/lib/select2x2.png')

    script(src="/js/lib/jquery-2.1.1.min.js")
    script(src="/js/lib/bootstrap.js")
    script(src="/js/lib/knockout-3.2.0.js")
    script(src="/js/lib/knockout-custom-bindings.js")
    script(src="/js/lib/modernizr.custom.js")
    script(src="/js/lib/select2.min.js")
    script(src="/js/lib/Base.js")
    script(src="/js/app/core.js")
    script(src="/js/app/home.js")
    script(src="/js/app/import.js")
  body
    #content
      != body
