{% extends "./../base.html" %}

{% block title %} Admin: Metadata {% endblock %}

{% block assets %}
<script src="/static/js/app/admin.js"></script>
{% endblock%}

{% block body %}
<div id="adminMetadata">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <a href="#" data-bind="click: showAddMetadataField">Add Field</a>
      </div>
    </div>
  </div>
</div>

<!-- Rename folder -->
<div class="modal fade" id="addMetadataFieldModal" tabindex="-1" role="dialog" aria-labelledby="renameFolderModal-lbl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="addMetadataFieldModal-form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="addMetadataFieldModal-lbl">Add metadata field</h4>
        </div>
        <div class="modal-body">
          <form class="form">
            <div class="form-group">
              <label for="addMetadataFieldModal-name" class="control-label"></label>
              <div class="error"></div>
              <input id="addMetadataFieldModal-name" name="name" type="text" maxlength="255" placeholder="Field name" class="form-control">
            </div>
            <div class="form-group">
              <label for="addMetadataFieldModal-type" class="control-label"></label>
              <div class="error"></div>
              <select id="addMetadataFieldModal-type"
                      name="name" class="form-control">
                <option value="keyword">Keyword</option>
                <option value="text">Text</option>
                <option value="number">Number</option>
                <option value="boolean">True/False</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button id="renameFolderModal-actionBtn"
                      type="button"
                      class="btn btn-primary"
                      data-bind="click: addMetadataField">Create</button>
            </div>
          </form>
        </div>
      </form>
    </div>
  </div>
</div>


<script>
  $(document).ready(function() {
    var adminViewModel = new AdminViewModel();
    ko.applyBindings(adminViewModel);
  });
</script>
{% endblock%}

{% block footer %}
{% endblock%}
